@import '../../styles/base/_settings.scss';

.sidebar{
    background-color:rgb(208, 203, 203);
}

.title{
    color: $yellow;
    font-family: 'Luckiest Guy', cursive;
    width: 30vw;
    height: 100%;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: $white !important;
    font-family: 'Luckiest Guy', cursive;

  }