@import '../../styles/base/settings';


// .div-container{
//     width: 100%;
// }

.no-results{
    color:$green;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}